/* Importações do TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #004AAD;
  --color-secondary: #F25C05;
  --color-accent: #78C0E0;
  --color-background: #F8F9FA;
  --color-text: #1E293B;
}

/* Links */
a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-accent);
}

/* Remova qualquer definição de background-color e color no body */
body {
  min-height: 100vh;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: inherit;
}

/* Remover estilos de h1 que podem entrar em conflito com o Tailwind */
h1 {
  text-align: center;
}

/* Estilos globais de botão */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}